<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Default" />

<f:section name="Main">
    <div class="mstimeline">
        <f:if condition="{events}">
            <f:then>
                <f:for each="{events}" as="event" iteration="it">
                    <f:render partial="Event/Item" arguments="{event: event, isOdd: it.isOdd}" />
                </f:for>
            </f:then>
            <f:else>
                <p class="mstimeline__empty">
                    <f:translate key="LLL:EXT:ms_timeline/Resources/Private/Language/locallang.xlf:list.empty" />
                </p>
            </f:else>
        </f:if>
    </div>
</f:section>

</html>
